@import "../../App.scss";
.navbar {
    height: 100px;

    .wrapper{
        margin: auto;
        display: flex;
        max-width: 1366px;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 7vw;
        padding-right: 7vw;
        

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        @include tablet{
            padding: 20px;
        }

        @include laptop{
            padding: 40px;
            padding-left: 90px;
        }
    }

    span{
        font-weight: bold;
        font-size: 1.5rem;
        @include mobile{
         display: none;
        }

        @include laptop{
            font-size: 25px;
        }
    }

    .social{
        display: flex;
        gap: 20px;

        a img {
            height: 4vh;
            width: 4vw;


            @include laptop{
                height: 35px;
                width: 35px;
            }
        }
    }
    

}