@import "../../App.scss";

.cursor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    z-index: 9999;

    @include mobile{
        display: none;
    }
}