@import "../../App.scss";

.aboutme {

    height: 100%;
    height: 100%;
    margin: auto;
    background-color: #11331c6e;
    overflow-x: hidden;
    position: relative;

    

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        margin: auto;


        h2 {

            font-size: 55px;
            margin: 30px;
            color: greenyellow;

            @include laptop {
                font-size: 55px;
            }

            @include tablet {
                font-size: 45px;
            }

            @include mobile {
                font-size: 30px;
            }
        }

        p {
            @include laptop {
                font-size: x-large;
            }

            @include tablet {
                font-size: large;
            }

            @include mobile {
                font-size: medium;
                ;
            }

            b {
                color: greenyellow;
                font-style: italic;
            }
        }

        
    }
    .slidingContainer {
        position: absolute;
        font-size: 42vh;
        white-space: nowrap;
        color: #58585828;
        width: 50%;
    }
}